<div class="row gutters-sm">
    <div class="col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Technical Skills</i></h6>
                {{! for each cred or job}}
                {{#each techSkills}}
                <small>{{title}}</small>
                <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style={{#progressWidth value}}{{/progressWidth}} 
                    aria-valuenow={{value}} aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Soft Skills</i></h6>
                {{#each techSkills}}
                <small>{{title}}</small>
                <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style={{#progressWidth value}}{{/progressWidth}} 
                    aria-valuenow={{value}} aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>