<div class="card-body">
    <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Bio</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{ bio }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{ email }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Phone/Mobile No.</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{ phone_no }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Address</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{ address }}
        </div>
    </div>
</div>