<div class="sidebar">
	<h1 class="title">Co-WorkBook</h1>

	<div class="sidebarOption">
		<a href="/home">
			<span class="material-icons">home</span>
			<h2>Home</h2>
		</a>
	</div>

	<div class="sidebarOption">
		<a href="/qualification">
			<span class="material-icons">search</span>
			<h2>Search Qualif.</h2>
		</a>
	</div>

	<div class="sidebarOption">
		<a href="/searchJob">
			<span class="material-icons">search</span>
			<h2>Search Jobseek.</h2>
		</a>
	</div>

	<div class="sidebarOption">
		<a href="/profile">
			<span class="material-icons">perm_identity</span>
			<h2>Profile</h2>
		</a>
	</div>
	<div class="sidebarOption">
		
		<a href="/logout">
			<span class="material-icons">settings</span>
			<h2>Log out</h2>
		</a>
	</div>
</div>