<html>
	<head>
		<meta charset ="utf-8">
		<title>About Co-WorkBook</title>
		<link rel="stylesheet" href="style-about.css">
	</head>

	<body>	
		<header class="header">
			<h1>Co-WorkBook	</h1>
		</header>
		
		<div class="centerBox">
			<h2>About Us</h2>
			<p class="about"> Every year, students from different college degrees graduate are struggling and are constantly looking 
for opportunities to get a job that provides stable income. Many people go in-and-out of their jobs which 
gives  them  quite  a  few  moments  without  jobs  which  can  financially  affect  them.  On  the  other  hand, 
recruiters also have a hard time finding the right applicants with proper credentials for a certain job 
requirement.  These  complications  gave  us  the  idea  of  creating  Co-WorkBook  Job  recruitment  web 
application. With our new web application, jobseekers are presented with different kinds of 
opportunities. Recruiters can gather more jobseekers fit for certain jobs. And it can quicken the process 
of getting an opportunity for work. Jobseekers need this for recruiters to see their credentials, which can 
result in easier ways of communicating, or even getting the job. Recruiters benefit from this since they 
can easily find someone that is fit for the company's job requirements and reach out to through the web 
application  itself,  and  from  there,  formal  meetups/interviews  can  be  made.  Co-WorkBook  aims  to 
provide  opportunities  to  jobseekers  and  serve  recruiters  with  jobseekers  that  fit  the  company's  best 
interest. </p>
    <button class="back">Back</button> 
	</body>
	
</html>