<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<title>Search Jobseeker</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="css/style-qual.css">
</head>

<body>

	<!-- sidebar -->

	<body>
		{{> sidebar}}
		<!-- sidebars ends -->
		<div class="container">
			<div class="container">
				<header>Search by Jobseeker's Name</header>
				<br>
				<form action="/showJobseekerN" method="POST">
					<div class="category">
						<label for="a1" class="name">Name</label>
						<input type="name" class="form-control" id="name">
					</div>
					<div class="button">
					<input type="submit" class="button" value="Search">
				</div>
				</form>

			</div>
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="jobseeker.js"></script>
			<script>
				$(".result").hide();
			</script>

</html>